alembic
fastapi
uvicorn
pydantic_settings
sqlalchemy
requests
httpx[http2]
orjson
firebase_admin
psycopg2-binary
icalendar
resend
slowapi
pydantic[email]
cachetools
stripe
python-multipart
sentry-sdk[fastapi]